
<br>
<div>
    <br>
 
<div class="container">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;"> ¿Qué es el Botón de Panico?</h1>
            <br>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <div  *ngIf="mostrarIf" class="card">
                <div class="card-acercade">
                {{frase.mensaje}}
               

            </div>
            </div>
            <br>
            <h4 style="text-align: center;"><button (click)="cambiarIf(mostrarIf)" class="btn btn-success">
                
                Ver Más!
            </button>
            </h4>
        
            </div> 

  </div> 
<div>
    <h6 style="text-align: justify; float: left;" >
        <div class="card" style="width: 20rem;" >
          <img src="https://1.bp.blogspot.com/-qpFXsLlg1mI/Xjy9-R9d0hI/AAAAAAAAAf0/Sz73r4fbo7E-A1mEM8oh74bHI-f9d0WjQCLcBGAsYHQ/s640/cap.JPG" width="250" height="250" style="float:left; margin-right: auto;" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Diagrama de Uso</h5>
            <p class="card-text">con el siguiente enlace lograran descubrir uno de los objetivos de nuestro proyecto, presentandoles un story board de la actividad</p>
            <a href="https://drive.google.com/drive/u/0/folders/1sQYreqOasaqItJj-ZNmNHuKmfJBqOQAO" class="btn btn-primary" style="background-color: blue;">Ir al Documento</a>
          </div>
          <br>
        </div>
      </h6>

</div>

<h6 style="text-align: justify; float: right;" >
  <div class="card" style="width: 18rem;" >
    <img src="https://1.bp.blogspot.com/-YBoq9EQ346w/XjJLEHPAsZI/AAAAAAAAAfY/C7gA0CpHJ3Qz6bBUCKExI-YT4kl12-PTACLcBGAsYHQ/s320/PP.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Antecedentes</h5>
      <p class="card-text">Con un documento te lograremos informar acerca de los antecedentes del Botón de Panico</p>
      <a href="https://drive.google.com/drive/u/0/folders/1zVs0BvsxzkYl1UchIVAqTaFXFuL1TZ6O" class="btn btn-primary" style="background-color: blue;">Ir al Documento</a>
    </div>
  </div>
</h6>
<br>