<nav class="navbar navbar-expand-lg " style="background-color: black; ">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <h6 style="color: white; font-family: 'Franklin Gothic Medium';"><b>PANIC BUTTON</b></h6>
      </li>
      <li class="nav-item ">
        <img src='https://images.vexels.com/media/users/3/131773/isolated/preview/790c78d39fd853ae72167411aa11d727-cursor-de-la-mano-pixelada-1-by-vexels.png'  width='60' height='60' />
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['body']" style="color: ghostwhite;" ><b>Inicio</b> <span class="sr-only">(current)</span></a>
      </li>
      <br>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['acercade']" style="color: ghostwhite;"><b>¿Quienes somos?</b> </a>
      </li><li class="nav-item">
        <a class="nav-link" [routerLink]="['otra']" style="color: ghostwhite;"><b>Botón de panico</b> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['integrantes']" style="color: ghostwhite;"><b>Integrantes</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['heroes']" style="color: ghostwhite;"><b>Heroes</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['villanos']" style="color: ghostwhite;"><b>villanos</b></a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><b>Buscar</b></button>
    </form>
  </div>
</nav>